body{
    font-family: Arial;
    text-align:center;
    background:#121212;
    color:white;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#songs{
    margin-top:20px;
}